figure figcaption {
  text-align:center;
  display: inline;
  font-size: 40px;
  color: #ff1a1a;
  font-family: 'Lobster',sans-serif;
  font-style: italic;
  width: 20em;
  margin-top: 7em;
}

nav {
  display: block;
  float: right;
  margin-top: 1em;
  margin-right: 10em;
  margin-left: 10em;
  margin-bottom: 0;
  width: 80%;
}
ul {
  display: block;
  list-style-type: none;
  overflow: hidden;
  background-color: #ff704d;
  border-radius: 1em;
  height: 3em;
}
li {
  float: left;
}
li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 25px;
  font-style: italic;
}
ul .search {
  margin: 3px;
  padding: 4px;
  float: right;
  color: #000000;
}
